<div class="form">
  <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
    <mat-form-field>
      <input matInput placeholder="Username" name="username" formControlName="username">
    </mat-form-field>
    <br/>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" formControlName="password">
    </mat-form-field>
    <br/>

    <mat-form-field>
      <input type="submit" [disabled] = "!formdata.valid" class="forsubmit" value="Log In">
    </mat-form-field>

  </form>
</div>
