<div class="wrap-login100 big-wrap">
  <form class="login100-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
    <span class="login100-form-title p-b-34 p-t-27">
      Create user
    </span>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput placeholder="Name" name="name" formControlName="name">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput placeholder="Username" name="username" formControlName="username">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput placeholder="Password" name="password" [type] = "hide ? 'password' : 'text'" formControlName="password">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element ">
      <mat-form-field class="big-input">
        <input matInput placeholder="Confirm password" name="confirmation" [type] = "hide ? 'password' : 'text'" formControlName="confirmation">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <mat-select placeholder="User's role" name="role" formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <div class="element" *ngIf="invalid">
      <br/>
      <span class="error">
        The password and its confirmation doesn't match.
      </span>
    </div>

    <div class="element" *ngIf="success">
      <br/>
      <span class="success">
        User successfully added.
      </span>
    </div>

    <div class="element" *ngIf="flawed_username">
      <br/>
      <span class="error">
        Username already taken.
      </span>
    </div>

    <br/>
    <br/>

    <div class="element element2">
      <button mat-raised-button color="warn" type="submit" [disabled] = "!formdata.valid" class="forsubmit">
        Create
      </button>
    </div>

  </form>
</div>
