 <div class="title">
   <a href="login">SOFTWARE BOULEVARD</a>
 </div>


 <header>
   <span *ngIf="this.service.user_type === 'Project Manager'">
     <input type="checkbox" id="btn-menu">
     <label for="btn-menu">
       <div class="bar"></div>
       <div class="bar"></div>
       <div class="bar"></div>
     </label>
     <nav class="menu">
       <ul>
         <li><a href="my-status">My Status</a></li>
         <li><a href="my-company">My Company</a></li>
         <li><a href="logout">Logout</a></li>
       </ul>
     </nav>
   </span>

   <span *ngIf="this.service.user_type === 'User'">
     <input type="checkbox" id="btn-menu">
     <label for="btn-menu">
       <div class="bar"></div>
       <div class="bar"></div>
       <div class="bar"></div>
     </label>
     <nav class="menu">
       <ul>
         <li><a href="my-status">My Status</a></li>
         <li><a href="my-company">My Company</a></li>
         <li><a href="logout">Logout</a></li>
       </ul>
     </nav>
   </span>

   <span *ngIf="this.service.user_type === 'Game Administrator'">
     <input type="checkbox" id="btn-menu">
     <label for="btn-menu">
       <div class="bar"></div>
       <div class="bar"></div>
       <div class="bar"></div>
     </label>
     <nav class="menu">
       <ul>
         <li><a href="users">Users</a></li>
         <li><a href="companies">Companies</a></li>
         <li><a href="company">Company</a></li>
         <li><a href="user">User</a></li>
         <li><a href="reports">Reports</a></li>
         <li><a href="logout">Logout</a></li>
       </ul>
     </nav>
   </span>
 </header>
