 <header>
   <a class="logo" (click)="redirectHome($event)">SOFTWARE BOULEVARD</a>
   <div *ngIf="this.service.user_type === 'Project Manager'">
     <input type="checkbox" id="btn-menu">
     <label for="btn-menu">
       <div class="bar"></div>
       <div class="bar"></div>
       <div class="bar"></div>
     </label>
     <nav class="menu">
       <ul>
         <li><a (click)="redirectMyStatus($event)">My Status</a></li>
         <li><a (click)="redirectMyCompany($event)">My Company</a></li>
         <li><a (click)="redirectLogout($event)">Logout</a></li>
       </ul>
     </nav>
   </div>

   <div *ngIf="this.service.user_type === 'Team Member'">
     <input type="checkbox" id="btn-menu">
     <label for="btn-menu">
       <div class="bar"></div>
       <div class="bar"></div>
       <div class="bar"></div>
     </label>
     <nav class="menu">
       <ul>
         <li><a (click)="redirectMyStatus($event)">My Status</a></li>
         <li><a (click)="redirectMyCompany($event)">My Company</a></li>
         <li><a (click)="redirectLogout($event)">Logout</a></li>
       </ul>
     </nav>
   </div>

   <div *ngIf="this.service.user_type === 'Game Administrator'">
     <input type="checkbox" id="btn-menu">
     <label for="btn-menu">
       <div class="bar"></div>
       <div class="bar"></div>
       <div class="bar"></div>
     </label>
     <nav class="menu">
       <ul>
         <li><a (click)="redirectUsers($event)">Users</a></li>
         <li><a (click)="redirectCompanies($event)">Companies</a></li>
         <li><a (click)="redirectCreateCompany($event)">Create Company</a></li>
         <li><a (click)="redirectCreateUser($event)">Create User</a></li>
         <li><a (click)="redirectReports($event)">Reports</a></li>
         <li><a (click)="redirectLogout($event)">Logout</a></li>
       </ul>
     </nav>
   </div>
 </header>
