#titulo{
  width: 100%;
  height: 40px;
  padding: 20px;
  text-align: center;
  background: #009494;
  font-family: sans-serif;
  font-weight: bold;
  color: #F5F2DC;
  border-bottom: 1px solid #F5F2DC;
}

body{
  margin: 0;
  font-family: sans-serif;
}

header{
  width: 100%;
  background: #009494;
}

#btn-menu{
  display: none;
}

header label{
  display: none;
  width: 35px;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
}

header label:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}

.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li{
  border-radius: 4px;
}

.menu li a{
  display: block;
  padding: 15px 20px;
  color: #F5F2DC;
  text-decoration: none;
}

.menu li:hover{
  background: rgba(0,0,0,0.3);
}

.bar{
  width: 35px;
  height: 5px;
  background-color: #F5F2DC;
  margin: 6px 0;
  transition: 0.4s;
}

@media (max-width: 500px){
  header label{
    display: block;
  }

  .menu{
    position: absolute;
    background: #009494;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
  }

  .menu ul{
    flex-direction: column;
  }

  .menu li{
    border-bottom: 1px inset #F5F2DC;
  }

  #btn-menu:checked ~ .menu{
    margin: 0;
  }

}
