/*.title{
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #F5F2DC;

}*/


header{
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100px;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFqa5PpCULjxAGK1VOD451mlIVKpizKIsSQjVkSJ-BojBGUELA0Q');/*#00585E;*/
}

header a{
  float: left;
  color: #F5F2DC;
  margin-left: 10px;
  padding-top: 25px;
  text-decoration: none;
  font-family: sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

#btn-menu{
  display: none;
}

#btn-menu:checked ~ .menu{
  margin-left: 70%;
}


header label{
  float: right;
  display: block;
  background: #00585E;
  width: 45px;
  height: 45px;
  border-radius: 4px;
  margin: 25px;
  padding: 9px 3px;

}

header label:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}

.menu{
  position: absolute;
  background: #00585E;
  width: 30%;
  margin-left: 100%;
  margin-top: 100px;
  transition: all 0.5s;
}

.menu ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menu li{
  border-radius: 4px 0px 0px 4px;
  border-bottom: 1px inset #F5F2DC;
}

.menu li a{
  display: block;
  padding: 15px 20px;
  color: #F5F2DC;
  text-decoration: none;
  cursor: pointer;
}

.menu li:hover{
  background: rgba(0,0,0,0.3);
}

.bar{
  width: 30px;
  height: 4px;
  background-color: #F5F2DC;
  margin: 4px;
}

/*@media (max-width: 500px){
  header label{
    display: block;
  }

  .menu{
    position: absolute;
    background: #00585E;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
  }

  .menu ul{
    flex-direction: column;
  }

  .menu li{
    border-bottom: 1px inset #F5F2DC;
  }

  #btn-menu:checked ~ .menu{
    margin: 0;
  }

}*/
