<div class="w3-container">
  <h1>Companies</h1>
</div>

<div class="container mat-elevation-z8">

  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="companies2">

    <!-- Logo Column -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Logo </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="company_img" *ngIf="!(element.image === undefined); else pending_image">
          <img src="{{element.image}}">
        </div>
        <ng-template #pending_image>
          <p class="pending">
            Pending
          </p>
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Project manager Column -->
    <ng-container matColumnDef="project manager">
      <mat-header-cell *matHeaderCellDef> Project manager </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <p *ngIf="!(element.project_manager === undefined); else pending_project_manager">
          {{element.project_manager.username}}
        </p>
        <ng-template #pending_project_manager>
          <p class="pending">
            Pending
          </p>
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="redirect($event,element)">
          See status
        </button>
      </mat-cell>
    </ng-container>

    <!-- Update Column -->
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="redirect2($event,element)">
          Update
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="table_titles"></mat-header-row>
    <mat-row *matRowDef="let row; columns: table_titles;"></mat-row>
  </mat-table>
  <!------<mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>------->
</div>
